<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<nav>
  <div class="nav_header">
    <div class="nav_logo">
      <a href="#">RENTAL</a>
    </div>
    <div class="nav_opt">
      <ul class="nav_links">
        <li><a href="/home">Home</a></li>

      </ul>
    </div>
    <div class="nav_btn">
      <a href="/logout"><button class="btn">LOGOUT</button></a>
    </div>
  </div>
</nav>
<section class="section_container range_container" id="#about">
  <h2 class="section_header"> WIDE RANGE OF VEHICLES      </h2>
  <div class="range_grid">
    <div class="range_card">
      <img src="assets/range-1.jpg" alt="range">
      <div class="range_details">
        <h4>CARS</h4>
        <div class="nav_btn">
          <a href="/book"><button class="btn">Book</button></a>
        </div>
      </div>
    </div>
    <div class="range_card">
      <img src="assets/range-2.jpg" alt="range" />
      <div class="range_details">
        <h4>SUVS</h4>
        <div class="nav_btn">
          <a href="/book"><button class="btn">Book</button></a>
        </div>
      </div>
    </div>
    <div class="range_card">
      <img src="assets/range-3.jpg" alt="range" />
      <div class="range_details">
        <h4>VANS</h4>
        <div class="nav_btn">
          <a href="/book"><button class="btn">Book</button></a>
        </div>
      </div>
    </div>
    <div class="range_card">
      <img src="assets/range-4.jpg" alt="range" />
      <div class="range_details">
        <h4>ELECTRIC</h4>
        <div class="nav_btn">
          <a href="/book"><button class="btn">Book</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>